apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka-producer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kafka-producer
  template:
    metadata:
      labels:
        app: kafka-producer
    spec:
      containers:
      - name: kafka-producer
        image: shreyasgune/kafka-producer:latest
        env:
        - name: KAFKA_ADDR
          value: "10.97.142.36"
        - name: KAFKA_TOPIC
          value: "test-sgune"